.e-treasure-trove,
.vector-icon {
  position: relative;
  flex-shrink: 0;
}
.vector-icon {
  height: 20px;
  /* width: 23.2px; */
  border-radius: var(--br-12xs);
}
.e-treasure-trove {
  margin: 0;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 700;
  font-family: inherit;
}
.navbar-content-inner,
.vector-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.navbar-content-inner {
  flex-direction: column;
  padding: var(--padding-6xl) 0 0;
}
.home {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 43px;
}
.navbar-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-xs);
}
.dashboard {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 78px;
}
.navbar-link1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-2xs);
  cursor: pointer;
}
.about-us {
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 64px;
  white-space: nowrap;
}
.navbar-link2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-xs);
  cursor: pointer;
}
.locate {
  width: 117px;
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 117px;
}
.divmainnav-button-wrap,
.link {
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.link {
  background-color: var(--color-yellowgreen);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: var(--padding-7xs) var(--padding-lg);
  cursor: pointer;
}
.divmainnav-button-wrap {
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--on-dark-900);
  font-family: var(--font-montserrat);
}
.pickup-request {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  display: inline-block;
  min-width: 127px;
}
.link1 {
  border-radius: var(--br-xl);
  background-color: var(--color-yellowgreen);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  padding: var(--padding-7xs) var(--padding-lg);
  white-space: nowrap;
}
.divmainnav-button-wrap1,
.link1,
.navbar-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.divmainnav-button-wrap1 {
  border-radius: var(--br-xl);
  cursor: pointer;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--on-dark-900);
  font-family: var(--font-montserrat);
}
.navbar-menu {
  overflow: hidden;
  padding: 0 34px 0 0;
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
  font-size: var(--base-medium-size);
}
.navbar-content,
.navbar-logo-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.navbar-content {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-mediumseagreen);
  font-family: var(--font-lato);
}
.navbar-logo-left {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-honeydew-100);
  justify-content: flex-start;
  padding: 0 77px var(--padding-lg);
  box-sizing: border-box;
  top: 0;
  z-index: 99;
  position: sticky;
}
.give-e-waste-to {
  margin: 0;
  height: 211px;
  width: 562px;
  position: relative;
  font-size: inherit;
  line-height: 60px;
  font-weight: 700;
  font-family: inherit;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.give-e-waste-to-us-and-take-mo-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 256px 744px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: 42px;
  color: var(--on-dark-900);
  font-family: var(--font-montserrat);
}
.image-12-icon {
  width: 100%;
  height: 565px;
  position: absolute;
  margin: 0 !important;
  top: 72px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.strong-reduce {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 77px;
  max-width: 259.9800109863281px;
}
.heading-5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.a-key-part,
.avoid-waste,
.conservationusing-natural-re,
.wisely-and-using {
  margin: 0;
}
.a-key-part-container {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 259.9800109863281px;
}
.p {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl) var(--padding-xs) 0;
  font-size: var(--font-size-sm);
  color: rgba(255, 255, 255, 0.8);
  font-family: var(--font-source-sans-pro);
}
.divprimary-color-bg,
.divsiteorigin-widget-tinymce,
.p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divsiteorigin-widget-tinymce {
  align-self: stretch;
  justify-content: flex-start;
}
.divprimary-color-bg {
  height: 240px;
  width: 380px;
  background-color: var(--color-darkgreen);
  justify-content: flex-end;
  padding: var(--padding-29xl) var(--padding-41xl);
  box-sizing: border-box;
  max-width: 100%;
  color: rgba(255, 255, 255, 0.95);
}
.strong-reuse {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 63px;
  max-width: 259.9800109863281px;
}
.heading-51 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.form-instead-of,
.them-too,
.those-materials-on,
.you-can-reuse {
  margin: 0;
}
.you-can-reuse-container {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 259.9800109863281px;
}
.p1 {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) var(--padding-xs) 0;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-source-sans-pro);
}
.divpanel-cell-style,
.divsiteorigin-widget-tinymce1,
.p1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.divsiteorigin-widget-tinymce1 {
  align-self: stretch;
  justify-content: flex-start;
}
.divpanel-cell-style {
  height: 240px;
  width: 380px;
  background-color: #e5e5e5;
  justify-content: flex-end;
  padding: var(--padding-29xl) var(--padding-41xl);
  box-sizing: border-box;
  max-width: 100%;
}
.strong-recycle {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 73px;
  max-width: 259.9800109863281px;
}
.heading-52 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.anything-that-can,
.fact-it-is,
.your-recycling-mission {
  margin: 0;
}
.your-recycling-mission-container {
  position: relative;
  line-height: 24px;
  display: inline-block;
  max-width: 259.9800109863281px;
}
.p2 {
  align-self: stretch;
  padding: 0 var(--padding-3xs) var(--padding-xs) 0;
  font-size: var(--font-size-sm);
  color: var(--color-gray-400);
  font-family: var(--font-source-sans-pro);
}
.divpanel-cell-style1,
.divsiteorigin-widget-tinymce2,
.p2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divsiteorigin-widget-tinymce2 {
  align-self: stretch;
}
.divpanel-cell-style1 {
  height: 240px;
  width: 380px;
  background-color: var(--on-dark-900);
  padding: var(--padding-41xl);
  box-sizing: border-box;
  max-width: 100%;
}
.divtablet-1-in-row,
.divtablet-1-in-row-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.divtablet-1-in-row {
  flex: 1;
  justify-content: space-between;
  gap: 0.02px;
  z-index: 2;
}
.divtablet-1-in-row-wrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-47xl) var(--padding-xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-darkgreen);
  font-family: var(--font-montserrat);
}
.frame-child {
  height: 168px;
  width: 644px;
  position: relative;
  border-radius: var(--br-65xl);
  background-color: var(--color-honeydew-100);
  box-shadow: 0 81px 23px transparent, 0 52px 21px rgba(0, 0, 0, 0.02),
    0 29px 17px rgba(0, 0, 0, 0.08), 0 13px 13px rgba(0, 0, 0, 0.13),
    0 3px 7px rgba(0, 0, 0, 0.15);
  display: none;
  max-width: 100%;
}
.book-a-pickup,
.rectangle-parent {
  display: flex;
  justify-content: center;
}
.book-a-pickup {
  width: 411px;
  position: relative;
  line-height: 35px;
  align-items: center;
  z-index: 1;
}
.rectangle-parent {
  align-self: stretch;
  border-radius: var(--br-65xl);
  background-color: var(--color-honeydew-100);
  box-shadow: 0 81px 23px transparent, 0 52px 21px rgba(0, 0, 0, 0.02),
    0 29px 17px rgba(0, 0, 0, 0.08), 0 13px 13px rgba(0, 0, 0, 0.13),
    0 3px 7px rgba(0, 0, 0, 0.15);
  flex-direction: row;
  align-items: flex-start;
  padding: 67px var(--padding-xl) var(--padding-47xl) var(--padding-18xl);
  box-sizing: border-box;
  max-width: 100%;
}
.strong-types {
  width: 100%;
  position: relative;
  line-height: 35px;
  display: inline-block;
  white-space: pre-wrap;
  max-width: 1088px;
}
.pseudo {
  height: 16px;
  width: 237px;
  position: relative;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.pseudo-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.strong-types-of-e-waste-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-container {
  width: 578.2px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl) 0 30.1px;
  box-sizing: border-box;
  font-size: var(--font-size-9xl-1);
  color: var(--on-dark-900);
  font-family: var(--font-inter);
}
.frame-container,
.frame-group,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  width: 644px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 79px;
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-5xl) var(--padding-14xl) var(--padding-xl);
  box-sizing: border-box;
  font-size: 66.1px;
  color: var(--color-mediumseagreen);
  font-family: var(--font-source-sans-pro);
}
.box8-icon2png {
  width: 47px;
  height: 63px;
  position: relative;
  display: none;
}
.aside {
  width: 273px;
  height: 68px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.smartphone-call-1-icon {
  height: 140px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.smartphone-call-1-wrapper {
  width: 199px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-19xl);
  box-sizing: border-box;
}
.phones {
  align-self: stretch;
  position: relative;
  line-height: 36px;
}
.input-handler,
.item {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.item {
  flex: 1;
  border-radius: var(--br-xl);
  background-color: var(--on-dark-900);
  box-shadow: 1px 1px 5px rgba(179, 179, 179, 0.48);
  border: 1px solid var(--color-gainsboro-200);
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-40xl) var(--padding-44xl) var(--padding-xl) 51px;
  gap: 28px;
  cursor: pointer;
}
.input-handler {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-7xs);
}
.box8-icon2png1 {
  width: 47px;
  height: 63px;
  position: relative;
  display: none;
}
.aside1 {
  width: 273px;
  height: 68px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.fridge-1-icon {
  height: 107px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.fridge-1-wrapper {
  width: 231px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-53xl);
  box-sizing: border-box;
}
.heating-cooling {
  align-self: stretch;
  position: relative;
  line-height: 35px;
}
.item1,
.tree-structure {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.item1 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--on-dark-900);
  box-shadow: 1px 1px 5px rgba(179, 179, 179, 0.48);
  border: 1px solid var(--color-gainsboro-200);
  padding: var(--padding-19xl) var(--padding-18xl) 31px var(--padding-29xl);
  gap: 41px;
}
.tree-structure {
  flex: 1;
  gap: var(--gap-13xl);
  min-width: 251px;
  max-width: 100%;
}
.aside2 {
  width: 273px;
  height: 68px;
  display: none;
}
.smartphone-1-icon {
  height: 133px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.cousin-cluster {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 64px 0 var(--padding-38xl);
}
.computers-and-televisions {
  align-self: stretch;
  height: 48px;
  position: relative;
  line-height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.item2 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--on-dark-900);
  box-shadow: 1px 1px 5px rgba(179, 179, 179, 0.48);
  border: 1px solid var(--color-gainsboro-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 62px var(--padding-22xl) var(--padding-2xl) var(--padding-29xl);
  gap: 19px;
  cursor: pointer;
}
.box8-icon2png2 {
  width: 47px;
  height: 63px;
  position: relative;
  display: none;
}
.aside3 {
  width: 273px;
  height: 68px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.washing-machine-1-icon {
  height: 136.2px;
  width: 131.4px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.rooted-cluster {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 55px;
}
.washing-machine {
  width: 242px;
  position: relative;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-parent,
.item3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.item3 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--on-dark-900);
  box-shadow: 1px 1px 5px rgba(179, 179, 179, 0.48);
  border: 1px solid var(--color-gainsboro-200);
  padding: var(--padding-19xl) var(--padding-18xl) var(--padding-20xl);
  gap: 33.8px;
}
.item-parent {
  flex: 1;
  gap: var(--gap-13xl);
  min-width: 247px;
  max-width: 100%;
}
.box8-icon2png3 {
  width: 47px;
  height: 63px;
  position: relative;
  display: none;
}
.aside4 {
  width: 273px;
  height: 68px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.broken-cable-1-icon {
  height: 133px;
  width: 130px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.broken-cable-1-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-7xl);
}
.cords-wires {
  align-self: stretch;
  position: relative;
  line-height: 36px;
}
.item4 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--on-dark-900);
  box-shadow: 1px 1px 5px rgba(179, 179, 179, 0.48);
  border: 1px solid var(--color-gainsboro-200);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-40xl) 73px var(--padding-16xl) var(--padding-22xl);
  gap: var(--gap-xl);
}
.box8-icon2png4 {
  align-self: stretch;
  width: 47px;
  position: relative;
}
.icon {
  height: 160px;
  width: 178px;
  position: absolute;
  margin: 0 !important;
  bottom: -92px;
  left: 46.6px;
  object-fit: cover;
  z-index: 1;
}
.aside5 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 0 5px;
  position: relative;
}
.hubs-switches,
.hubs-switches1 {
  flex: 1;
  position: relative;
  line-height: 36px;
}
.hubs-switches1 {
  z-index: 1;
  margin-left: -242px;
}
.hubs-switches-parent,
.item-inner,
.item5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.hubs-switches-parent {
  flex: 1;
}
.item-inner,
.item5 {
  align-self: stretch;
  padding: 0 var(--padding-base) 0 14.6px;
}
.item5 {
  height: 283px;
  border-radius: var(--br-xl);
  background-color: var(--on-dark-900);
  box-shadow: 1px 1px 5px rgba(179, 179, 179, 0.48);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-9xl) var(--padding-8xl) var(--padding-14xl);
  gap: 118px;
}
.item-group,
.tree-structure-parent {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.item-group {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  min-width: 247px;
}
.tree-structure-parent {
  width: 1077px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-23xl);
}
.box8-icon2png5 {
  width: 47px;
  height: 63px;
  position: relative;
  display: none;
}
.aside6 {
  width: 273px;
  height: 68px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.air-conditioner-1-icon {
  height: 114px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.error-handler {
  width: 212px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-11xl);
  box-sizing: border-box;
}
.ac {
  align-self: stretch;
  position: relative;
  line-height: 36px;
  z-index: 2;
}
.item-wrapper,
.item6 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.item6 {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--on-dark-900);
  box-shadow: 1px 1px 5px rgba(179, 179, 179, 0.48);
  border: 1px solid var(--color-gainsboro-200);
  align-items: flex-end;
  padding: var(--padding-41xl) var(--padding-39xl) var(--padding-22xl)
    var(--padding-8xl);
  gap: var(--gap-13xl);
}
.item-wrapper {
  flex: 1;
  align-items: flex-start;
  padding: 0 7px 0 0;
  box-sizing: border-box;
  min-width: 252px;
  max-width: 100%;
}
.box8-icon2png6 {
  width: 47px;
  height: 63px;
  position: relative;
  display: none;
}
.aside7 {
  width: 273px;
  height: 68px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.battery-1-icon {
  height: 128px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 1;
}
.battery-1-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-44xl) 0 61px;
}
.battery {
  align-self: stretch;
  position: relative;
  line-height: 36px;
}
.item7 {
  flex: 0.7516;
  border-radius: var(--br-xl);
  background-color: var(--on-dark-900);
  box-shadow: 1px 1px 5px rgba(179, 179, 179, 0.48);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 40px 42px 45px 43px;
  gap: 34px;
  min-width: 247px;
  max-width: 100%;
}
.box8-icon2png7 {
  align-self: stretch;
  width: 47px;
  position: relative;
}
.box8-icon2png-wrapper {
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-20xl) 0 39.5px;
  box-sizing: border-box;
}
.item8,
.others {
  display: flex;
  align-items: center;
}
.others {
  width: 126px;
  height: 96px;
  position: relative;
  line-height: 35px;
  justify-content: center;
  flex-shrink: 0;
}
.item8 {
  flex: 0.8882;
  border-radius: var(--br-xl);
  background-color: var(--on-dark-900);
  box-shadow: 1px 1px 5px rgba(179, 179, 179, 0.48);
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-9xl) var(--padding-xl) 96px var(--padding-2xl);
  min-width: 247px;
  max-width: 100%;
}
.frame-div {
  width: 1078px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-23xl);
}
.frame-div,
.frame-parent,
.log-in-page-inner {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  width: 1152px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.log-in-page-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 87px 44px;
  box-sizing: border-box;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-9xl-1);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.strong-types1 {
  width: 100%;
  position: relative;
  line-height: 35px;
  display: inline-block;
  max-width: 1088px;
}
.pseudo1 {
  height: 16px;
  width: 237px;
  position: relative;
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 1;
}
.pseudo-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.strong-types-of-e-waste-group {
  width: 624px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sequence-controller {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 54px 50px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-9xl-1);
  color: var(--on-dark-900);
  font-family: var(--font-inter);
}
.state-manager-child,
.upload-file-background {
  width: 445px;
  height: 202px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--color-ghostwhite);
  border: 1px dashed var(--color-slateblue-300);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.state-manager-child {
  height: 36px;
  background-color: var(--on-dark-900);
  border: 1px solid var(--color-limegreen);
}
.image-name-goes-herepng {
  position: relative;
  line-height: 18px;
  display: none;
}
.white-background {
  width: 493px;
  height: 533px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--on-dark-900);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.05);
  display: none;
  max-width: 100%;
}
.scan,
.scan-wrapper {
  display: flex;
  justify-content: center;
}
.scan {
  margin: 0;
  width: 53px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  align-items: center;
  min-width: 53px;
  z-index: 2;
}
.scan-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.samsungcam-removebg-preview-1-icon {
  position: absolute;
  top: 25px;
  left: 92px;
  width: 207px;
  height: 151px;
  object-fit: cover;
}
.samsungcam-removebg-preview-1-wrapper {
  align-self: stretch;
  height: 202px;
  position: relative;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 2;
}
.frame-parent2,
.frame-wrapper2 {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.frame-parent2 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 15px;
}
.frame-wrapper2 {
  width: 414px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xs) var(--padding-2xs);
  box-sizing: border-box;
  color: var(--color-gray-100);
}
.scan-your-e-waste {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 2;
}
.scan-your-e-waste-here-wrapper {
  width: 426px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-53xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-5xl);
}
.uploaded {
  width: 65px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  z-index: 2;
}
.frame-item {
  height: 36px;
  width: 445px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--on-dark-900);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.image-name-goes-herepng1 {
  width: 157px;
  border: 0;
  outline: 0;
  font-family: var(--font-mulish);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 18px;
  position: relative;
  line-height: 18px;
  color: var(--color-gray-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 4;
}
.rectangle-group {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--on-dark-900);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px var(--padding-sm) var(--padding-sm);
  max-width: 100%;
  z-index: 3;
}
.label,
.uploaded-parent {
  font-size: var(--font-size-sm);
}
.uploaded-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px;
  max-width: 100%;
}
.label {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-mulish);
  color: var(--on-dark-900);
  text-align: left;
  min-width: 100px;
}
.cta {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm-5) var(--padding-xl);
  background-color: var(--color-slateblue-200);
  align-self: stretch;
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  white-space: nowrap;
  z-index: 3;
}
.cta1:hover,
.cta:hover {
  background-color: var(--color-slateblue-100);
}
.frame-wrapper1,
.white-background-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.white-background-parent {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--on-dark-900);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.05);
  padding: var(--padding-3xl) var(--padding-3xl) var(--padding-2xl)
    var(--padding-7xl);
  gap: 30px;
  z-index: 1;
}
.frame-wrapper1 {
  flex: 1;
  padding: var(--padding-11xs) 0 0;
  min-width: 320px;
}
.white-background1 {
  width: 493px;
  height: 533px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--on-dark-900);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.05);
  display: none;
  max-width: 100%;
}
.data-processor,
.upload {
  display: flex;
  justify-content: center;
}
.upload {
  margin: 0;
  width: 76px;
  position: relative;
  font-size: var(--font-size-3xl);
  font-weight: 700;
  font-family: var(--font-mulish);
  color: var(--color-gray-100);
  text-align: center;
  align-items: center;
  min-width: 76px;
  z-index: 1;
}
.data-processor {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-2xl) 0 var(--padding-xl);
}
.upload-icon {
  height: 59.6px;
  width: 68.8px;
  position: relative;
}
.upload-icon-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.drag-drop {
  color: var(--color-gray-100);
}
.span {
  color: #333;
}
.browse {
  text-decoration: underline;
  color: var(--color-slateblue-200);
}
.drag-drop-container1 {
  width: 100%;
}
.drag-drop-container {
  width: 211px;
  position: relative;
  font-size: var(--base-medium-size);
  line-height: 24px;
  display: flex;
  font-family: var(--font-mulish);
  text-align: center;
  align-items: center;
}
.opacity-organizer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
}
.supported-formates-jpeg {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xs);
  line-height: 18px;
  font-family: var(--font-mulish);
  color: var(--color-dimgray);
  text-align: center;
}
.size-synchronizer {
  gap: 10px;
}
.data-processor-parent,
.file-upload-area,
.size-synchronizer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.file-upload-area {
  border-radius: var(--br-9xs);
  background-color: var(--color-ghostwhite);
  border: 1px dashed var(--color-slateblue-300);
  padding: var(--padding-11xl) var(--padding-16xl) var(--padding-16xl);
  gap: 25.4px;
  z-index: 1;
}
.data-processor-parent {
  gap: var(--gap-4xs);
}
.uploading-33 {
  width: 136px;
  position: relative;
  font-size: var(--font-size-sm);
  display: flex;
  font-family: var(--font-mulish);
  color: var(--color-dimgray);
  text-align: center;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.grey-outline {
  align-self: stretch;
  height: 36px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--on-dark-900);
  border: 0.5px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  display: none;
}
.effect-engine {
  width: 122px;
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 18px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
  box-sizing: border-box;
  font-family: var(--font-mulish);
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.loading-bar {
  width: 275px;
  height: 3px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-slateblue-200);
  z-index: 2;
}
.spacing-separator,
.stroke-stylizer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.stroke-stylizer {
  border-radius: var(--br-9xs);
  background-color: var(--on-dark-900);
  border: 0.5px solid var(--color-gainsboro-100);
  padding: var(--padding-5xs) 0 0;
  gap: 8px;
  z-index: 1;
}
.spacing-separator {
  gap: var(--gap-sm);
}
.uploaded1 {
  width: 65px;
  position: relative;
  font-size: var(--font-size-sm);
  display: flex;
  font-family: var(--font-mulish);
  color: var(--color-dimgray);
  text-align: center;
  align-items: center;
  justify-content: center;
  min-width: 65px;
  z-index: 1;
}
.frame-inner {
  height: 36px;
  width: 445px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--on-dark-900);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.image-name-goes-herepng2 {
  width: 157px;
  border: 0;
  outline: 0;
  font-family: var(--font-mulish);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 18px;
  position: relative;
  line-height: 18px;
  color: var(--color-gray-100);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  z-index: 6;
}
.proximity-provider {
  width: 16px;
  height: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-lavenderblush);
  z-index: 6;
}
.path-processor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.anchor-arranger,
.rectangle-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-container {
  border-radius: var(--br-9xs);
  background-color: var(--on-dark-900);
  border: 1px solid var(--color-limegreen);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-4xs) var(--padding-2xs) var(--padding-4xs)
    var(--padding-4xs);
  gap: var(--gap-xl);
  z-index: 5;
}
.anchor-arranger {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  gap: var(--gap-4xs);
}
.label1 {
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  font-family: var(--font-mulish);
  color: var(--on-dark-900);
  text-align: left;
  min-width: 100px;
}
.cta1,
.white-background-group {
  display: flex;
  align-items: flex-start;
}
.cta1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm-5) var(--padding-xl);
  background-color: var(--color-slateblue-200);
  align-self: stretch;
  border-radius: var(--br-9xs);
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.white-background-group {
  margin: 0;
  flex: 0.9026;
  border-radius: var(--br-3xs);
  background-color: var(--on-dark-900);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.05);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-4xs) 19px var(--padding-sm) var(--padding-10xl);
  box-sizing: border-box;
  gap: 26px;
  min-width: 320px;
  max-width: 100%;
}
.data-flow-director,
.frame-parent1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent1 {
  width: 1122px;
  justify-content: flex-start;
  gap: 136px;
}
.data-flow-director {
  align-self: stretch;
  justify-content: center;
  padding: 0 46px 0 var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray);
}
.state-manager-inner,
.state-manager-item {
  width: 445px;
  height: 36px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--on-dark-900);
  border: 1px solid var(--color-limegreen);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.image-name-goes-herepng3 {
  position: relative;
  line-height: 18px;
  display: none;
}
.ellipse-div {
  width: 16px;
  height: 16px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-lavenderblush);
  display: none;
}
.label2 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.cta2 {
  width: 445px;
  height: 45px;
  border-radius: var(--br-9xs);
  background-color: var(--color-slateblue-200);
  display: none;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-sm);
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--on-dark-900);
}
.cta2,
.cta3,
.label3 {
  align-items: center;
}
.label3 {
  position: relative;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  padding-left: var(--padding-xl);
  padding-right: var(--padding-xl);
}
.cta3 {
  width: 445px;
  height: 45px;
  border-radius: var(--br-9xs);
  background-color: var(--color-slateblue-200);
  display: none;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-sm);
  box-sizing: border-box;
  white-space: nowrap;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--on-dark-900);
}
.bin-icon,
.bin-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.bin-icon1 {
  z-index: 1;
}
.bin-icon-parent {
  height: 2.5px;
  width: 7.7px;
  position: relative;
}
.state-manager-inner1,
.submit {
  display: flex;
  justify-content: center;
}
.state-manager-inner1 {
  width: 414.3px;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 21.5px;
  box-sizing: border-box;
  max-width: 100%;
}
.submit {
  width: 128px;
  position: relative;
  font-size: 32px;
  line-height: 24px;
  text-transform: uppercase;
  font-family: var(--font-montserrat);
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  align-items: center;
  min-width: 128px;
}
.input,
.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.input {
  cursor: pointer;
  border: 0;
  padding: var(--padding-11xl) var(--padding-10xl) var(--padding-11xl)
    var(--padding-11xl);
  background-color: var(--on-dark-900);
  border-radius: var(--br-xl);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 772.3900146484375px;
}
.input:hover {
  background-color: #e6e6e6;
}
.input-wrapper {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-4xl) 20.5px var(--padding-xl);
}
.color-contrastor-plus {
  height: 28.8px;
  width: 100%;
  filter: brightness(0) invert(1);
  position: relative;
  border-radius: 1.44px;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.e-treasure-trove1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 100%;
  font-weight: 700;
  font-family: inherit;
  flex-shrink: 0;
}
.column,
.logo-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo-wrapper {
  width: 155.3px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
}
.column {
  flex: 1;
  flex-direction: column;
  min-width: 149px;
  font-size: var(--font-size-3xl);
  color: var(--color-honeydew-100);
}
.contact {
  align-self: stretch;
  position: relative;
  line-height: 21px;
  font-weight: 500;
}
.careers {
  flex: 1;
  position: relative;
  line-height: 160%;
}
.link2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.benefits {
  flex: 1;
  position: relative;
  line-height: 160%;
}
.link3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.notice-board {
  flex: 1;
  position: relative;
  line-height: 160%;
}
.link4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.explore {
  flex: 1;
  position: relative;
  line-height: 160%;
}
.link5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.trails {
  position: relative;
  line-height: 160%;
  display: inline-block;
  min-width: 33px;
}
.link6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.footer-links {
  align-self: stretch;
  font-size: var(--font-size-sm);
}
.column1,
.content,
.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  gap: var(--gap-base);
}
.column1 {
  flex: 1;
  min-width: 149px;
}
.about,
.company {
  position: relative;
}
.company {
  align-self: stretch;
  line-height: 21px;
  font-weight: 500;
}
.about {
  flex: 1;
  line-height: 160%;
}
.a-link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.jobs {
  flex: 1;
  position: relative;
  line-height: 160%;
}
.a-link1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.support {
  flex: 1;
  position: relative;
  line-height: 160%;
}
.a-link2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
}
.a-link3,
.a-link4 {
  align-self: stretch;
  height: 38px;
}
.footer-links1 {
  align-self: stretch;
  font-size: var(--font-size-sm);
}
.column2,
.content1,
.footer-links1,
.small-columns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.content1 {
  align-self: stretch;
  gap: var(--gap-base);
}
.column2,
.small-columns {
  flex: 1;
  min-width: 149px;
}
.small-columns {
  flex-direction: row;
  gap: var(--gap-13xl);
  min-width: 429px;
  max-width: 100%;
}
.enter-your-email {
  flex: 1;
  position: relative;
  line-height: 150%;
}
.form-text-input {
  flex: 1;
  background-color: var(--color-mediumseagreen);
  border-bottom: 1px solid var(--color-mediumseagreen);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 15px var(--padding-base);
  min-width: 220px;
  white-space: nowrap;
  max-width: 100%;
}
.feedback {
  position: relative;
  font-size: var(--base-medium-size);
  line-height: 150%;
  font-family: var(--font-lato);
  color: var(--color-mediumseagreen);
  text-align: left;
  display: inline-block;
  min-width: 83px;
}
.form-button {
  cursor: pointer;
  border: 1px solid var(--color-whitesmoke-100);
  padding: var(--padding-xs) var(--padding-11xl);
  background-color: var(--color-honeydew-100);
  width: 146px;
  border-radius: 39.62px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.form-button:hover {
  background-color: #c9d9c7;
  border: 1px solid #d9dbde;
  box-sizing: border-box;
}
.form-wrapper,
.form1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.form1 {
  flex-direction: row;
  gap: var(--gap-base);
}
.form-wrapper {
  flex-direction: column;
}
.privacy-policy {
  text-decoration: underline;
}
.by-subscribing-you-container {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  color: var(--color-mediumseagreen);
}
.form {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.column3,
.columns,
.form {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.column3 {
  width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-honeydew-200);
}
.columns {
  width: 1200px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-21xl);
}
.content2 {
  height: 29px;
  flex: 1;
  min-width: 629px;
  max-width: 100%;
}
.icon-facebook,
.icon-instagram,
.icon-linkedin,
.icon-twitter {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.social-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 0 68px;
  gap: 12px;
}
.copyright,
.footer {
  align-items: center;
  max-width: 100%;
}
.copyright {
  width: 1200px;
  border-top: 1px solid var(--color-whitesmoke-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 0 0;
  gap: var(--gap-13xl);
}
.footer {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-mediumseagreen);
  border: 1px solid var(--color-honeydew-100);
  padding: 80px var(--padding-xl) var(--padding-39xl);
  gap: 80px;
  text-align: left;
  font-size: var(--base-medium-size);
  color: var(--on-dark-900);
  font-family: var(--font-lato);
}
.footer,
.log-in-page,
.state-manager {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.state-manager {
  align-self: stretch;
  align-items: flex-end;
  padding: 0 var(--padding-11xs) 198px;
  gap: 39.5px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
  font-family: var(--font-mulish);
}
.log-in-page {
  width: 100%;
  height: 3805px;
  position: relative;
  background-color: var(--color-mediumseagreen);
  align-items: flex-start;
  padding: 0 0 1442px;
  gap: 18px;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .give-e-waste-to-us-and-take-mo-wrapper {
    padding-left: 372px;
    box-sizing: border-box;
  }
  .divtablet-1-in-row {
    flex-wrap: wrap;
  }
  .strong-types {
    max-width: 100%;
  }
  .log-in-page-inner {
    padding-left: var(--padding-3xl);
    padding-bottom: var(--padding-38xl);
    box-sizing: border-box;
  }
  .strong-types1 {
    max-width: 100%;
  }
  .frame-parent1 {
    gap: 136px 68px;
  }
  .data-flow-director {
    padding-right: var(--padding-4xl);
    box-sizing: border-box;
  }
  .state-manager {
    padding-bottom: 129px;
    box-sizing: border-box;
  }
  .log-in-page {
    height: auto;
  }
}
@media screen and (max-width: 1050px) {
  .give-e-waste-to {
    font-size: 34px;
    line-height: 48px;
  }
  .book-a-pickup {
    font-size: 53px;
    line-height: 28px;
  }
  .frame-div {
    flex-wrap: wrap;
  }
  .log-in-page-inner {
    padding-bottom: var(--padding-18xl);
    box-sizing: border-box;
  }
  .frame-wrapper1,
  .white-background-group {
    flex: 1;
  }
  .frame-parent1 {
    flex-wrap: wrap;
  }
  .submit {
    font-size: 26px;
    line-height: 19px;
  }
  .input {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .navbar-menu {
    gap: 32px 16px;
  }
  .navbar-logo-left {
    padding-left: var(--padding-19xl);
    padding-right: var(--padding-19xl);
    box-sizing: border-box;
  }
  .give-e-waste-to-us-and-take-mo-wrapper {
    padding-left: 186px;
    padding-bottom: 166px;
    box-sizing: border-box;
  }
  .frame-group {
    gap: 39px 79px;
  }
  .tree-structure-parent {
    gap: 21px;
  }
  .frame-div {
    gap: 42px 21px;
  }
  .frame-parent {
    gap: 16px 32px;
  }
  .sequence-controller {
    padding-left: var(--padding-6xl);
    box-sizing: border-box;
  }
  .white-background-parent {
    gap: 15px 30px;
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-parent1 {
    gap: 136px 34px;
  }
  .small-columns {
    flex-wrap: wrap;
    gap: 32px 16px;
    min-width: 100%;
  }
  .column3 {
    gap: 40px 80px;
  }
  .columns {
    gap: var(--gap-xl);
  }
  .content2 {
    min-width: 100%;
  }
  .copyright {
    gap: var(--gap-base);
  }
  .footer {
    gap: 40px 80px;
    padding-top: 52px;
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
  .state-manager {
    gap: 20px 39.5px;
    padding-bottom: 84px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .give-e-waste-to {
    font-size: 25px;
    line-height: 36px;
  }
  .give-e-waste-to-us-and-take-mo-wrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .divpanel-cell-style,
  .divpanel-cell-style1,
  .divprimary-color-bg {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .book-a-pickup {
    font-size: 40px;
    line-height: 21px;
  }
  .strong-types {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .drop_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .frame-group {
    gap: 20px 79px;
  }
  .phones {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .item {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .heating-cooling {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .item1 {
    gap: 20px 41px;
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .tree-structure {
    gap: 16px 32px;
  }
  .computers-and-televisions {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .item2 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .washing-machine {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .item3 {
    gap: 17px 33.8px;
  }
  .item-parent {
    gap: 16px 32px;
  }
  .cords-wires {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .item4 {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hubs-switches,
  .hubs-switches1 {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .item5 {
    gap: 59px 118px;
  }
  .item-group {
    gap: 16px 32px;
  }
  .ac {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .item6 {
    gap: 16px 32px;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .battery {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .item7 {
    gap: 17px 34px;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
    flex: 1;
  }
  .others {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .item8 {
    flex: 1;
  }
  .log-in-page-inner {
    padding-bottom: var(--padding-5xl);
    box-sizing: border-box;
  }
  .strong-types1 {
    font-size: var(--font-size-3xl);
    line-height: 28px;
  }
  .scan {
    font-size: var(--font-size-lg);
  }
  .scan-your-e-waste {
    font-size: var(--font-size-lgi);
  }
  .scan-your-e-waste-here-wrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .upload {
    font-size: var(--font-size-lg);
  }
  .frame-parent1 {
    gap: 136px 17px;
  }
  .submit {
    font-size: var(--font-size-lgi);
    line-height: 14px;
  }
  .e-treasure-trove1 {
    font-size: var(--font-size-lg);
    line-height: 18px;
  }
  .form1 {
    flex-wrap: wrap;
  }
  .column3,
  .footer {
    gap: 20px 80px;
  }
}
