body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --base-medium: Poppins;
  --font-lato: Lato;
  --font-montserrat: Montserrat;
  --font-karla: Karla;
  --font-mulish: Mulish;
  --font-inter: Inter;
  --font-source-sans-pro: "Source Sans Pro";
  --font-abeezee: ABeeZee;

  /* font sizes */
  --font-size-mini: 15px;
  --font-size-31xl: 50px;
  --font-size-21xl: 40px;
  --font-size-11xl: 30px;
  --font-size-lg: 18px;
  --font-size-xs: 12px;
  --base-medium-size: 16px;
  --font-size-sm: 14px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;
  --font-size-7xl: 26px;
  --font-size-2xl: 21px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-3xs: 10px;
  --font-size-9xl-1: 28.1px;
  --font-size-23xl: 42px;
  --font-size-6xl: 25px;
  --font-size-15xl: 34px;
  --font-size-xl: 20px;
  --font-size-xs-4: 11.4px;

  /* Colors */
  --on-dark-900: #fff;
  --color-yellowgreen-100: #9acd4c;
  --color-yellowgreen-200: #9cc026;
  --color-gray-100: #0f0f0f;
  --color-gray-200: rgba(127, 127, 127, 0.5);
  --color-gray-300: rgba(0, 0, 0, 0.05);
  --color-gray-400: rgba(255, 255, 255, 0.8);
  --color-gray-500: rgba(0, 0, 0, 0.6);
  --color-gray-600: rgba(0, 0, 0, 0.7);
  --color-gray-700: rgba(0, 0, 0, 0.1);
  --color-gray-800: rgba(0, 0, 0, 0.5);
  --color-gray-900: rgba(42, 42, 42, 0.49);
  --color-black: #000;
  --color-mediumseagreen-100: #71bc68;
  --color-honeydew-100: #e3f2e1;
  --color-honeydew-200: rgba(217, 239, 222, 0.9);
  --neutral-9: #f4f6f9;
  --color-whitesmoke-100: #f2f4f8;
  --color-lightgray: #c9d9c7;
  --color-gainsboro-100: #e6e6e6;
  --color-gainsboro-200: #e3e3e3;
  --color-gainsboro-300: #e0e0e0;
  --color-gainsboro-400: #d9dbde;
  --color-dimgray-100: #676767;
  --color-chocolate: #e36f34;
  --color-black1: #374557;
  --paragraph: #32403b;
  --primary-grey: #38393c;
  --heading: #212b27;
  --color-slateblue-100: #6e63cf;
  --ultra-violet: #5f41b2;
  --color-slateblue-200: #483ea8;
  --color-slateblue-300: rgba(56, 78, 183, 0.3);
  --color-lavenderblush: #fff3f3;
  --color-limegreen: #11af22;
  --color-ghostwhite: #f8f8ff;
  --color-darkgreen: #007932;
  --color-maroon: #790000;
  --simpu-d: #211791;
  --secondary-blue: #eff2fb;
  --secondary-grey: #abaeb7;
  --greys-blue-grey-700: #737791;
  --primary-900: #5d5fef;
  --color-forestgreen: #3d8a36;

  /* Gaps */
  --gap-xl: 20px;
  --gap-61xl: 80px;
  --gap-21xl: 40px;
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-xs: 12px;
  --gap-5xl: 24px;
  --gap-3xs: 10px;
  --gap-lgi: 19px;
  --gap-sm: 14px;
  --gap-4xs: 9px;
  --gap-smi: 13px;
  --gap-mini: 15px;
  --gap-23xl: 42px;
  --gap-9xl: 28px;
  --gap-base-5: 16.5px;
  --gap-8xs: 5px;

  /* Paddings */
  --padding-61xl: 80px;
  --padding-3xs: 10px;
  --padding-11xs: 2px;
  --padding-41xl: 60px;
  --padding-4xs: 9px;
  --padding-15xl-6: 34.6px;
  --padding-mini: 15px;
  --padding-16xl: 35px;
  --padding-5xs: 8px;
  --padding-base: 16px;
  --padding-xl: 20px;
  --padding-36xl: 55px;
  --padding-8xl: 27px;
  --padding-7481xl: 7500px;
  --padding-1856xl: 1875px;
  --padding-3731xl: 3750px;
  --padding-39xl: 58px;
  --padding-33xl: 52px;
  --padding-19xl: 38px;
  --padding-13xl: 32px;
  --padding-49xl: 68px;
  --padding-xs: 12px;
  --padding-11xl: 30px;
  --padding-47xl: 66px;
  --padding-55xl: 74px;
  --padding-18xl: 37px;
  --padding-14xl: 33px;
  --padding-51xl: 70px;
  --padding-6xl: 25px;
  --padding-41xl-4: 60.4px;
  --padding-5xl: 24px;
  --padding-8xs: 5px;
  --padding-58xl: 77px;
  --padding-lg: 18px;
  --padding-15xl: 34px;
  --padding-7xs: 6px;
  --padding-2xs: 11px;
  --padding-4xl: 23px;
  --padding-10xl: 29px;
  --padding-sm: 14px;
  --padding-lgi: 19px;
  --padding-sm-5: 13.5px;
  --padding-12xs: 1px;
  --padding-2xl: 21px;
  --padding-3xl: 22px;
  --padding-7xl: 26px;
  --padding-9xs: 4px;
  --padding-53xl: 72px;
  --padding-38xl: 57px;
  --padding-9xl: 28px;
  --padding-20xl: 39px;
  --padding-23xl: 42px;
  --padding-24xl: 43px;
  --padding-44xl: 63px;
  --padding-6xs: 7px;
  --padding-22xl: 41px;
  --padding-40xl: 59px;
  --padding-29xl: 48px;
  --padding-12xl: 31px;
  --padding-32xl: 51px;
  --padding-10xs: 3px;
  --padding-mid: 17px;
  --padding-smi: 13px;
  --padding-89xl: 108px;
  --padding-11xs-4: 1.4px;

  /* Border radiuses */
  --br-10xs: 3px;
  --br-xl: 20px;
  --br-20xl-6: 39.6px;
  --br-11xs-4: 1.4px;
  --br-3xs: 10px;
  --br-12xs: 1px;
  --br-13xl: 32px;
  --br-31xl: 50px;
  --br-21xl: 40px;
  --br-9xs: 4px;
  --br-65xl: 84px;
  --br-25xl: 44px;
  --br-69xl: 88px;
  --br-base: 16px;

  /* Effects */
  --shadow: 0px 20px 50px rgba(55, 69, 87, 0.1);
}
